[Desktop Entry]
Encoding=UTF-8
Name=Link para Aula 021 - Criando um virtual host no Linux [Linux Mint] - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=85FF4otSLvE&list=PLVSNL1PHDWvSo3IyfLWgsReSC3UIvsEIy&index=21
Icon=text-html
