[Desktop Entry]
Encoding=UTF-8
Name=Link para Git e Github para iniciantes - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=UMhskLXJuq4
Icon=text-html
